/*
--------------------------------
 General
--------------------------------
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background: #ddd;*/
    background-image: linear-gradient(#bbdfff 5em, #ddd 40em);
    color: #222;
}

a {
    text-decoration: none;
    color: #3949ab;
}

a:hover {
    color: royalblue;
}

/*
 * fixes 'strange' whitespace below image
 * http://stackoverflow.com/a/31445364/3597276
 */
img {
    vertical-align: top;
}

ul.hor {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box {
    padding: 0.8em 0.5em;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
}

h4 {
    margin: 0 0 1em;
}

.margin-wrapper {
    margin: 0 5vw;
}

.flexbox-wrapper {
    display: flex;
    flex: 1;
}

.flexbox-wrapper.columns {
    flex-direction: column;
}

/* clears float after the element's children */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}



/*
--------------------------------
 Header
--------------------------------
*/

.page-header {
    flex: 1;
    margin: 1em 0 1.5em;
}

.page-header > * {
    margin-top: 0.75em;
}

.page-header img.logo {
    margin-top: 0;
}


/* === Navigation === */

.header-nav {
    justify-content: space-between;
    background-image: linear-gradient(#0272a7, #013953);
    border-radius: 1em 1em 0 0;
    box-shadow: 0 1px 4px -1px rgba(0,0,0, 0.75);
}

.header-nav > ul {
    display: inline-flex;
}

.header-nav > ul > li > a {
    display: inline-block;
    padding: 0.6em 1em;
    font-size: 1.1em;
    color: #fff;
    transition: background 0.2s;
}

.header-nav > ul > li:first-child > a {
    border-top-left-radius: 1rem;
}

.header-nav > ul > li:hover > a {
    background-color: rgba(0,0,0, 0.33);
}

.header-nav a > span {
    display: block;
}

.header-nav a > small {
    color: #dfdfdf;
}

/* == Dropdown menu == */

.header-nav .dropdown-menu {
    position: absolute;
    padding: 0.3em 0.75em;
    background-color: #fff;
    line-height: 1.5em;
    border-radius: 0 0 0.25em 0.25em;
    box-shadow: 0 1px 4px rgba(0,0,0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s 0.2s;
    z-index: 2;
}

.header-nav li:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.header-nav .dropdown-menu li {
    padding: 0.2em 0.25em;
}
.header-nav .dropdown-menu li:not(:last-of-type) {
    border-bottom: thin solid rgba(0,0,0, 0.1);
}

.header-nav .dropdown-menu a {
    color: #555;
}

.header-nav .dropdown-menu a:hover {
    color: royalblue;
}

.search-form {
    /* vertical centering */
    align-self: center;
    /* input to right */
    justify-content: flex-end;
    max-width: 15em;
    padding-right: 0.75em;
}

.search-form input {
    width: 2.5em;
    height: 2.5em;
    padding: 0.4em;
    /* Icon made by 'Designmodo' from www.iconfinder.com is licensed under CC BY 3.0 */
    /* https://www.iconfinder.com/icons/115695 */
    background:
        url('data:image/svg+xml,%3Csvg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M20 .005c-6.627 0-12 5.373-12 12 0 2.026.507 3.933 1.395 5.608l-8.344 8.342.007.006A3.515 3.515 0 0 0 0 28.477a3.529 3.529 0 0 0 3.529 3.529c.985 0 1.874-.406 2.515-1.059l-.002-.002 8.341-8.34c1.676.891 3.586 1.4 5.617 1.4 6.627 0 12-5.373 12-12s-5.373-12-12-12zM4.795 29.697a1.75 1.75 0 0 1-1.266.543 1.764 1.764 0 0 1-1.765-1.764c0-.498.21-.943.543-1.266l-.009-.008 8.066-8.066a12.101 12.101 0 0 0 2.494 2.498l-8.063 8.063zM20 22.006c-5.522 0-10-4.479-10-10 0-5.522 4.478-10 10-10 5.521 0 10 4.478 10 10 0 5.521-4.479 10-10 10z" fill="%23fff"/%3E%3Cpath d="M20 5.005a7 7 0 0 0-7 7 .5.5 0 0 0 1 0 6 6 0 0 1 6-6 .5.5 0 0 0 0-1z" fill="%23fff"/%3E%3C/svg%3E')
        center left 0.5em/1.25em no-repeat, #033d63;
    color: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 6px 1px #ddd;
    transition: all 0.4s;
    cursor: pointer;
}

.search-form input:hover,
.search-form input:focus {
    background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M20 .005c-6.627 0-12 5.373-12 12 0 2.026.507 3.933 1.395 5.608l-8.344 8.342.007.006A3.515 3.515 0 0 0 0 28.477a3.529 3.529 0 0 0 3.529 3.529c.985 0 1.874-.406 2.515-1.059l-.002-.002 8.341-8.34c1.676.891 3.586 1.4 5.617 1.4 6.627 0 12-5.373 12-12s-5.373-12-12-12zM4.795 29.697a1.75 1.75 0 0 1-1.266.543 1.764 1.764 0 0 1-1.765-1.764c0-.498.21-.943.543-1.266l-.009-.008 8.066-8.066a12.101 12.101 0 0 0 2.494 2.498l-8.063 8.063zM20 22.006c-5.522 0-10-4.479-10-10 0-5.522 4.478-10 10-10 5.521 0 10 4.478 10 10 0 5.521-4.479 10-10 10z" fill="%23111"/%3E%3Cpath d="M20 5.005a7 7 0 0 0-7 7 .5.5 0 0 0 1 0 6 6 0 0 1 6-6 .5.5 0 0 0 0-1z" fill="%23333"/%3E%3C/svg%3E');
    background-color: #eee;
    border-color: #bbb;
    box-shadow: none;
}

.search-form input:focus {
    width: 100%;
    padding-left: 2.15em;
    background-color: #fff;
    color: #111;
    border-radius: 0.4em;
    cursor: auto;
}


/* === Latest stuff === */

.page-header .latest {
    display: flex;
}

.page-header .latest .screenshots {
    max-width: 60%;
    background-color: #000;
}


/* === Screenshots Slideshow === */

.slider {
    overflow: hidden;
}

.slider .img-wrapper {
    position: relative;
    left: 0;
    display: flex;
    /* default, for 5 slides */
    width: 500%;
    transition: left 1s;
}

.slider .img-wrapper figure {
    position: relative;
    width: 100%;
    margin: 0;
}

.slider img {
    width: 100%;
}

.slider figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.4em;
    background-color: rgba(32,32,32, 0.7);
    text-align: center;
    color: #fff;
    text-shadow: -1px 1px 1px #000;
    border-top: thin solid rgba(96,96,96, 0.4);
    box-shadow: 0 1px 8px rgba(0,0,0, 0.7);
}


.page-header .latest .flexbox-wrapper {
    margin-left: 0.75em;
}

.page-header .latest .flexbox-wrapper > div {
    flex: 1;
}

.page-header .latest .flexbox-wrapper > div:not(:last-child) {
    margin-bottom: 0.75em;
}



/*
--------------------------------
 Sideboxes
--------------------------------
*/

aside {
    width: 15em;
    margin-right: 0.75em;
}

aside .box:not(:last-child) {
    margin-bottom: 0.75em;
}

aside .box a {
    line-height: 1.4em;
}

aside .box.social .fb-like,
aside .box.social #___plusone_0,
aside .box.social .twitter-share-button {
    vertical-align: bottom !important;
    margin: 0 4px;
}


/* === Progress bars === */

.progress-bar {
    /*
     * overflow needed as the border-radius of .progress lowers
     * on small widths and causes it to overlay the border
     */
    overflow: hidden;
    margin: 0.15em 0 0.4em;
    background-color: rgba(0,0,0, 0.7);
    background-clip: content-box;
    border: 5px solid rgba(0,0,0, 0.55);
    /* half .progress height + border-width */
    border-radius: calc((1.25em / 2) + 5px);
    box-shadow: inset 0 1px 3px rgba(0,0,0, 0.5);
}

.progress-bar .progress {
    height: 1.25em;
    background-color: rgba(255,255,255, 0.7);
    /* bright stripes */
    background-image: repeating-linear-gradient(
        135deg,
        transparent, transparent 15px,
        rgba(255,255,255, 0.2) 15px, rgba(255,255,255, 0.2) 30px
    );
    border-radius: inherit;
}

.progress-bar.playable .progress {
    background-color: #9acd32;
}

.progress-bar.ingame .progress {
    background-color: #2d98d6;
}

.progress-bar.menus .progress {
    background-color: #ffe500;
}

.progress-bar.intro .progress {
    background-color: #f6ad20;
}

.progress-bar.nothing .progress {
    background-color: #ff0000;
}

.compatibility label {
    font-size: 0.875em;
}



/*
--------------------------------
 Main
--------------------------------
*/

main {
    flex: 1;
}


/* === Breadcrumbs === */

main .breadcrumbs {
    display: inline-block;
    padding-left: 1em;
    background-color: #fff;
    /* fixes whitespace below due to inline-block */
    vertical-align: top;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
}

main .breadcrumbs span {
    position: relative;
    display: block;
    float: left;
    padding: 0.4em 0.8em;
    font-weight: bold;
    color: rgba(0,0,0, 0.55);
}

main .breadcrumbs span:nth-child(2) {
    color: rgba(0,0,0, 0.48);
}

main .breadcrumbs span:nth-child(3) {
    color: rgba(0,0,0, 0.44);
}

main .breadcrumbs span:nth-child(4) {
    color: rgba(0,0,0, 0.40);
}

main .breadcrumbs span {
    /* same as border-width */
    margin-left: 0.5em;
}

main .breadcrumbs span::after,
main .breadcrumbs span::before {
    content: '';
    position: absolute;
    top: 50%;
    /* negative border-width */
    left: -0.5em;
    display: block;
    /* negative border-width */
    margin-top: -0.5em;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-left-color: rgba(0,0,0, 0.33);
}

main .breadcrumbs span::before {
    /* don't completely overlap grey, leave 1px (the arrow width) */
    margin-left: -1px;
    /* same as .breadcrumbs background-color */
    border-left-color: #fff;
    /* overlap the grey triangle which actually comes later in the DOM */
    z-index: 1;
}

main .pagination-wrapper {
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75em;
    padding-top: 1em;
    border-top: 2px dotted hsl(0, 0%, 95%);
}


/* === Buttons === */

.btn {
    display: inline-block;
    padding: 0.375em 0.5em;
    background-color: #555;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.25);
    transition: background-color 0.4s ease-out;
}

.btn:hover {
    background-color: #222;
    color: #fff;
}


/* === Pagination === */

.pagination {
    cursor: default;
}

.pagination > *,
.pagination a.btn:hover {
    background-color: #fff;
}

.pagination .page-link {
    display: inline-block;
    padding: 0.2em 0.3em;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.25);
}

.pagination .btn {
    /* TODO: keep padding or remove for unifying? */
    padding: 0.2em 0.5em;
    color: #666;
}

.pagination a.btn:hover {
    color: #000;
}

.pagination span.page-link,
.pagination span.btn {
    background-color: rgba(255,255,255, 0.66);
    color: rgba(0,0,0, 0.5);
}

.pagination-wrapper .page-count {
    font-size: 0.875em;
    color: hsl(0, 0%, 35%);
    cursor: default;
}


/* === Posts === */

article {
    display: flex;
    margin-top: 0.75em;
}

article .author-avatar img {
    border: 2px solid #fff;
    border-right: none;
    border-radius: 6px 0 0 6px;
}

article .blog-post {
    padding: 1em;
    background-color: #fff;
}

article header {
    padding-bottom: 0.15em;
    border-bottom: thin solid rgba(0,0,0, 0.1);
}

article header h2 {
    margin: 0 0 0.1em;
    color: #00a3cc;
}

article header small {
    color: #999;
}

article header small a {
    color: #777;
}

article .progress-report-banner {
    display: block;
    max-width: 100%;
    margin: 1em auto 1.25em;
    box-shadow: 0 2px 5px 1px rgba(0,0,0, 0.2);
}

article p {
    line-height: 1.2;
}

article .full-article-link::before {
    content: 'Read more:';
    margin-right: 1ch;
}



/*
--------------------------------
 Footer
--------------------------------
*/

footer {
    margin-top: 3em;
    padding: 1em 5vw;
    background-color: hsl(0, 0%, 92%);
    text-align: center;
}

footer a.rss-feed {
    display: inline-block;
    margin-bottom: 1em;
}

footer a.rss-feed img {
    width: 1.6em;
}

footer ul {
    display: inline-flex;
}

footer li {
    padding: 0 0.75em;
    font-size: 0.875em;
}

footer li:not(:last-of-type) {
    border-right: 2px solid rgba(0,0,0, 0.2);
}