/*
--------------------------------
 General
--------------------------------
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 5vw;
    /*background: #ddd;*/
    background-image: linear-gradient(#bbdfff 5em, #ddd 40em);
}

a {
    text-decoration: none;
    color: #3949ab;
}

a:hover {
    color: royalblue;
}

/*
 * fixes 'strange' whitespace below image
 * http://stackoverflow.com/a/31445364/3597276
 */
img {
    vertical-align: top;
}

ul.hor {
    list-style: none;
    margin: 0;
    padding: 0;
}

.box {
    padding: 0.8em 0.5em;
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
}

h4 {
    margin: 0 0 1em;
}

.flexbox-wrapper {
    display: flex;
    flex: 1;
}

.flexbox-wrapper.columns {
    flex-direction: column;
}

/* clears float after the element's children */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}



/*
--------------------------------
 Header
--------------------------------
*/

header {
    margin: 1em 0 1.5em 15.75em;
}

header > * {
    margin-top: 0.75em;
}

header img.logo {
    margin-top: 0;
}


/* === Navigation === */

.header-nav {
    background-image: linear-gradient(#0272a7, #013953);
    border-radius: 1em 1em 0 0;
    box-shadow: 0 1px 4px -1px rgba(0,0,0, 0.75);
}

.header-nav a {
    padding: 0.6em 1em;
    font-size: 1.1em;
    color: #fff;
    transition: background 0.2s;
}

.header-nav a:first-child {
    border-top-left-radius: 1rem;
}

.header-nav a:hover {
    background-color: rgba(0,0,0, 0.33);
    color: #fff;
}

.header-nav a span {
    display: block;
}

.header-nav a small {
    color: #dfdfdf;
}

.search-form {
    /* vertical centering */
    align-self: center;
    /* input to right */
    align-items: flex-end;
    padding-right: 0.75em;
}

.search-form input {
    width: 2.5em;
    height: 2.5em;
    padding: 0.4em;
    /* Icon made by 'Designmodo' from www.iconfinder.com is licensed under CC BY 3.0 */
    /* https://www.iconfinder.com/icons/115695 */
    background:
        url('data:image/svg+xml,%3Csvg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M20 .005c-6.627 0-12 5.373-12 12 0 2.026.507 3.933 1.395 5.608L1.05 25.955l.008.006C.406 26.603 0 27.49 0 28.478c0 1.95 1.58 3.53 3.53 3.53.984 0 1.873-.407 2.514-1.06l-.002-.002 8.34-8.34c1.677.89 3.587 1.4 5.618 1.4 6.627 0 12-5.373 12-12s-5.373-12-12-12zM4.795 29.697c-.322.334-.768.543-1.266.543-.976 0-1.766-.79-1.766-1.764 0-.498.21-.943.543-1.266l-.01-.008 8.067-8.066c.705.95 1.545 1.79 2.494 2.498l-8.063 8.063zM20 22.007c-5.522 0-10-4.48-10-10 0-5.523 4.478-10 10-10 5.52 0 10 4.477 10 10 0 5.52-4.48 10-10 10z" fill="#fff"/%3E%3Cpath d="M20 5.005c-3.867 0-7 3.134-7 7 0 .276.224.5.5.5s.5-.224.5-.5c0-3.313 2.686-6 6-6 .275 0 .5-.224.5-.5s-.225-.5-.5-.5z" fill="#fff"/%3E%3C/svg%3E')
        center left 0.5em/1.25em no-repeat, #033d63;
    color: transparent;
    border: 2px solid transparent;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 6px 1px #ddd;
    transition: all 0.4s;
    cursor: pointer;
}

.search-form input:hover,
.search-form input:focus {
    background-image: url('data:image/svg+xml,%3Csvg height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M20 .005c-6.627 0-12 5.373-12 12 0 2.026.507 3.933 1.395 5.608L1.05 25.955l.008.006C.406 26.603 0 27.49 0 28.478c0 1.95 1.58 3.53 3.53 3.53.984 0 1.873-.407 2.514-1.06l-.002-.002 8.34-8.34c1.677.89 3.587 1.4 5.618 1.4 6.627 0 12-5.373 12-12s-5.373-12-12-12zM4.795 29.697c-.322.334-.768.543-1.266.543-.976 0-1.766-.79-1.766-1.764 0-.498.21-.943.543-1.266l-.01-.008 8.067-8.066c.705.95 1.545 1.79 2.494 2.498l-8.063 8.063zM20 22.007c-5.522 0-10-4.48-10-10 0-5.523 4.478-10 10-10 5.52 0 10 4.477 10 10 0 5.52-4.48 10-10 10z" fill="#111"/%3E%3Cpath d="M20 5.005c-3.867 0-7 3.134-7 7 0 .276.224.5.5.5s.5-.224.5-.5c0-3.313 2.686-6 6-6 .275 0 .5-.224.5-.5s-.225-.5-.5-.5z" fill="#333"/%3E%3C/svg%3E');
    background-color: #eee;
    border-color: #bbb;
    box-shadow: none;
}

.search-form input:focus {
    width: 100%;
    max-width: 15em;
    padding-left: 2.15em;
    background-color: #fff;
    color: #111;
    border-radius: 0.4em;
    cursor: auto;
}


/* === Latest stuff === */

header .latest {
    display: flex;
}

header .latest .screenshots {
    max-width: 60%;
    background-color: #000;
}


/* === Screenshots Slideshow === */

.slider {
    overflow: hidden;
}

.slider .img-wrapper {
    position: relative;
    left: 0;
    display: flex;
    /* default, for 5 slides */
    width: 500%;
    transition: left 1s;
}

.slider .img-wrapper figure {
    position: relative;
    width: 100%;
    margin: 0;
}

.slider img {
    width: 100%;
}

.slider figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.4em;
    background-color: rgba(32,32,32, 0.7);
    text-align: center;
    color: #fff;
    text-shadow: -1px 1px 1px #000;
    border-top: thin solid rgba(96,96,96, 0.4);
    box-shadow: 0 1px 8px rgba(0,0,0, 0.7);
}


header .latest .flexbox-wrapper {
    margin-left: 0.75em;
}

header .latest .flexbox-wrapper > div {
    flex: 1;
}

header .latest .flexbox-wrapper > div:not(:last-child) {
    margin-bottom: 0.75em;
}



/*
--------------------------------
 Sideboxes
--------------------------------
*/

aside {
    width: 15em;
    margin-right: 0.75em;
}

aside .box:not(:last-child) {
    margin-bottom: 0.75em;
}

aside .box a {
    line-height: 1.4em;
}


/* === Progress bars === */

.progress-bar {
    /*
     * overflow needed as the border-radius of .progress lowers
     * on small widths and causes it to overlay the border
     */
    overflow: hidden;
    margin: 0.15em 0 0.4em;
    background-color: rgba(0,0,0, 0.7);
    background-clip: content-box;
    border: 5px solid rgba(0,0,0, 0.55);
    /* half .progress height + border-width */
    border-radius: calc((1.25em / 2) + 5px);
    box-shadow: inset 0 1px 3px rgba(0,0,0, 0.5);
}

.progress-bar .progress {
    height: 1.25em;
    background-color: rgba(255,255,255, 0.7);
    /* bright stripes */
    background-image: repeating-linear-gradient(
        135deg,
        transparent, transparent 15px,
        rgba(255,255,255, 0.2) 15px, rgba(255,255,255, 0.2) 30px
    );
    border-radius: inherit;
}

.progress-bar.playable .progress {
    background-color: #9acd32;
}

.progress-bar.ingame .progress {
    background-color: #2d98d6;
}

.progress-bar.menus .progress {
    background-color: #ffe500;
}

.progress-bar.intro .progress {
    background-color: #f6ad20;
}

.progress-bar.nothing .progress {
    background-color: #ff0000;
}

.compatibility label {
    font-size: 0.9em;
}



/*
--------------------------------
 Main
--------------------------------
*/

main {
    flex: 1;
}


/* === Breadcrumbs === */

main .breadcrumbs {
    display: inline-block;
    padding-left: 1em;
    background-color: #fff;
    /* fixes whitespace below due to inline-block */
    vertical-align: top;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.2);
}

main .breadcrumbs span {
    position: relative;
    display: block;
    float: left;
    padding: 0.4em 0.8em;
    font-weight: bold;
    color: rgba(0,0,0, 0.55);
}

main .breadcrumbs span:nth-child(2) {
    color: rgba(0,0,0, 0.48);
}

main .breadcrumbs span:nth-child(3) {
    color: rgba(0,0,0, 0.44);
}

main .breadcrumbs span:nth-child(4) {
    color: rgba(0,0,0, 0.40);
}

main .breadcrumbs span {
    /* same as border-width */
    margin-left: 0.5em;
}

main .breadcrumbs span::after,
main .breadcrumbs span::before {
    content: '';
    position: absolute;
    top: 50%;
    /* negative border-width */
    left: -0.5em;
    display: block;
    /* negative border-width */
    margin-top: -0.5em;
    width: 0;
    height: 0;
    border: 0.5em solid transparent;
    border-left-color: rgba(0,0,0, 0.33);
}

main .breadcrumbs span::before {
    /* don't completely overlap grey, leave 1px (the arrow width) */
    margin-left: -1px;
    /* same as .breadcrumbs background-color */
    border-left-color: #fff;
    /* overlap the grey triangle which actually comes later in the DOM */
    z-index: 1;
}


/* === Pagination === */

.pagination {
    margin-top: 0.75em;
    padding-top: 1em;
    border-top: 2px dotted hsl(0, 0%, 95%);
    cursor: default;
}

.pagination > * {
    display: inline-block;
    padding: 0.2em 0.3em;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.25);
}

.pagination .btn {
    padding: 0.2em 0.5em;
    color: #666;
    border-radius: 4px;
}

.pagination a.btn:hover {
    color: #000;
}

.pagination span,
.pagination span.btn {
    background-color: rgba(255,255,255, 0.66);
    color: rgba(0,0,0, 0.5);
    cursor: default;
}


/* === Posts === */

article {
    margin-top: 0.75em;
    padding: 1em;
    background-color: #fff;
}



/*
--------------------------------
 Footer
--------------------------------
*/

footer {
    /* -5vw horizontal because of the 5vw body margin */
    margin: 3em -5vw 0;
    padding: 1em 5vw;
    background-color: hsl(0, 0%, 92%);
    text-align: center;
}

footer a.rss-feed {
    display: inline-block;
    margin-bottom: 1em;
}

footer a.rss-feed img {
    width: 1.6em;
}

footer ul {
    display: inline-flex;
}

footer li {
    padding: 0 0.75em;
    font-size: 0.9em;
}

footer li:not(:last-of-type) {
    border-right: 2px solid rgba(0,0,0, 0.2);
}